@media print{
  body *{visibility:hidden;}
  #printable-receipt, #printable-receipt *{visibility:visible;}
  #printable-receipt{position:absolute; top:0; left:0; width:100%; margin:0; box-shadow:none;}
  .modal-close, .modal-actions{display:none !important;}
}
